.span3.box
  .thumbnail
    .frame
      %h3{style: "text-align:center; border-bottom: 1px solid #000"}
        = @cell[:name]
      .caption
        - @cell[:context].each do |t|
          %p
            = t.name
    %a.btn.btn-block.btn-info{:href => "/posts/new"}
      %i.icon-eye-open
      New