.span3.box
  .thumbnail{style: "height: 400px"}
    %h3{style: "text-align:center; border-bottom: 1px solid #000"}
      = @cell[:name]
    .caption
      - @cell[:context].each do |t|
        %p
          = t.title
      .row-fluid
        .span6
          %a.btn.btn-block.btn-info{:href => "/photos/new"}
            %i.icon-eye-open
            New